#TitleBar {

}
#WeatherWidget {
  border: solid clear;
  border-radius: .5em;
  background-color: rebeccapurple;
  position: absolute;
  right: 100px;
  top: 0px;

}
#BusWidget {
  border: 5px solid clear;
  border-radius: .5em;
  background: rebeccapurple;
  position: absolute;
  right: 100px;
  top: 100px;

}


#Menu {

}


#BusWidget td {
  background-color: green;
}
#BusWidget .LastChance td{
  background-color: red;
}
#BusWidget .GetReady td{
  background-color: yellow;
}