div {
    display: block;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 1.6;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #1784c7;
    text-decoration: none;
}

.main-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background: #3e454c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Establishment-header {
    position: relative;
}

@media only screen and (min-width: 768px) {
    .user-nav {
        display: block;
        float: right;
        height: 100%;
    }
    .Establishment-header {
        float: left;
        width: 250px;
        height: 100%;
        margin: 0 0 0 2.5em;
        color: red;
    }
}

.user-nav-top>li>a::before {
    /* reset style */
    display: none;
}

.user-nav-top>li a {
    padding: 1em 5% !important;
}

@media only screen and (min-width: 768px) {
    .user-nav-top {
        height: 100%;
    }
    .user-nav-top a {
        display: block;
        font-size: 1rem;
        color: #ffffff;
    }
    .user-nav-top>li {
        display: inline-block;
        margin-right: 1em;
        font-size: 1rem;
        height: 100%;
        color: #ffffff;
        /*background-color: red;*/
    }
    .user-nav-top>li:last-of-type {
        margin-right: 0;
    }
    .user-nav-top>li a {
        padding: 1em .6em !important;
    }
    .user-nav-top img {
        display: block;
    }
}

.user-nav-top .has-children {
    position: relative;
    /*background-color: #2c3136;*/
}

.user-nav-top .has-children>a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
    background-color: #2c3136;
}

.user-nav-top .has-children>a::after {
    display: block;
    right: 1.8em;
}

.user-nav-top .has-children ul {
    background-color: #1c1f22;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.user-nav-top .has-children ul a {
    padding-left: 18px !important;
}

.main-content .content {
    padding: 45px 5% 3em;
}

.main-content .content h1 {
    text-align: center;
    padding: 3em 0;
    font-size: 2rem;
}

@media only screen and (min-width: 1170px) {
    .main-content .content {
        margin-left: 200px;
    }
}

.side-nav {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    padding: 45px 0 0;
    background-color: #2c3136;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    max-height: 100vh;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    max-height: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.side-nav .cd-label,
.side-nav a {
    display: block;
    padding: 1em 5%;
}

.side-nav .cd-label {
    text-transform: uppercase;
    font-weight: bold;
    color: #646a6f;
    font-size: 1rem;
    letter-spacing: .1em;
}

.side-nav a {
    position: relative;
    color: #ffffff;
    font-size: 1.4rem;
}

@media only screen and (min-width: 1170px) {
    .side-nav {
        width: 200px;
        height: 100%;
    }
    .side-nav>ul {
        padding: 0.6em 0;
    }
    .side-nav>ul>li:not(.action-btn):hover>a {
        background-color: #33383e;
        color: #1784c7;
    }
    .side-nav>ul>li>a {
        padding: 1em 1em 1em 42px;
        text-align: left;
        border-bottom: none;
    }
    .side-nav>ul>li>a::before {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 18px;
    }
    .side-nav .cd-label {
        display: block;
        padding: 1em 18px;
    }
    .side-nav .action-btn {
        text-align: left;
    }
    .side-nav .action-btn a {
        margin: 0 18px;
    }
    .no-touch .side-nav .action-btn a:hover {
        background-color: #1a93de;
    }
}

@media only screen and (min-width: 1170px) {
    .has-children>ul {
        width: 100%;
        z-index: 1;
    }
    .has-children ul a {
        padding-left: 18px;
    }
}